@import 'reset.scss';
@import 'mixins.scss';
@import 'variables.scss';
@import 'fonts.scss';
@import 'icons.scss';
@import 'swipe.scss';
@import '~foundation-sites/scss/foundation';

@include foundation-xy-grid-classes;
@include foundation-flex-classes;

html, .app {
  height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: $black;
    color: $white;
    height: 100%;
    font-size: 40px;
}

a, a:hover, a:visited {
  color: inherit;
  text-decoration: none;
}