@import 'reset.scss';
@import 'mixins.scss';
@import 'variables.scss';
@import 'fonts.scss';
@import 'icons.scss';
@import 'swipe.scss';
@import '~foundation-sites/scss/foundation';

@include foundation-xy-grid-classes;
@include foundation-flex-classes;

html, body, .app {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: none;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: $black;
    color: $white;
    height: 100%;
    font-size: 12px;
}

a, a:hover, a:visited {
  color: $white;
  text-decoration: none;
  @include transition(color 0.2s ease-out);
}

a:hover {
  color: $grey;
}

.align-text-left {
  text-align: left;
}
.align-text-center {
  text-align: center;
}
.align-text-right {
  text-align: right;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.flex-fill-height {
  flex: 1;
}